.idea
.DS_Store
.pytest_cache
*.egg-info
*~
__pychache__
dcsem/__pycache__/
build
dcsem/tests/__pycache__
dcsem/.DS_Store
dcsem/__pycache__/models.cpython-38.pyc
dcsem/__pycache__/utils.cpython-38.pyc
dcsem/tests/__pycache__/test_fcs.cpython-38-pytest-6.2.5.pyc
dcsem/auxilary/__pycache__
results
img

bench 11-27-14-41
*.ipynb
*.pkl
*.pyc